@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: white; */
}
.container {
    max-width: 30%;
    margin: 50px auto;
    background-color: #fafafa;
    text-align: center;
    line-height: 30px;
    opacity: 0.5;
}
main>p:first-child {
    font-size: 20px;
    opacity: 1;
}
.button {
    display: flex;
    justify-content: center;
}
.button p {
    margin-right: 10px;
    margin-left: 10px;
}
.button p:first-child {
    background-color: #4796e6;
    color: #fafafa;
    border-radius: 8px;
    padding: 0 20px;
    cursor: pointer;
}
.button p:last-child {
    border: 1px solid black;
    border-radius: 8px;
    padding: 0 20px;
    cursor: pointer;
}
footer {
    background-color: grey;
}
i {
    margin-right: 30px;
}