body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    /* margin: 20px 10px; */
}
header {
    display: flex;
    align-items: center;
    background-color: #3599db;
    /* margin: ; */
    padding: 20px;
    margin: 5px 10px;
}
.sidebar, .content {
    display: inline-block;
}
.sidebar {
    background-color: #2fcc70;
    width: 365px;
    height: 500px;
    padding: 20px;
    margin: 5px 10px;
}
.content {
    background-color: rgb(232, 78, 60);
    width: 1040px;
    height: 500px;
    padding: 20px;
    /* margin: 5px 10px; */
}
footer {
    display: flex;
    background-color: #9b59b5;
    padding: 20px;
    margin: 5px 10px;
}