body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    /* align-content: center; */
}
.container {
    /* width: 1000px; */
    /* height: fit-content; */
    /* margin: 0 auto; */
    /* border: 1px solid black; */
    /* background-color: #f2f2f2; */
}
.box {
    width: 200px;
    height: 50px;
}
.row1 {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.row2 {
    display: flex;
    justify-content: space-between;
}
.box {
    background-color: #800080;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 8px;
}
div {
    /* margin-top: 10px; */
    margin-bottom: 10px;
}
.row2>div {
    /* display: flex; */
    /* justify-content: space-between; */
    
}